<html>
<head>
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/books_authors_app/css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
      <form action = '/authors'>
        <button class="btn btn-primary" type="submit" style = "margin-bottom: 30px">Back to Authors</button>
      </form>
      <h1>{{ first_name }} {{ last_name }}</h1>
      <p>ID: {{ id }}</p>
      <p style = 'display: inline-block'>Notes: </p>
      <div class = "description_box">
        <p>{{ notes }}</p>
      </div>
      <p>Books:</p>
      <ul>
          {% for book in author_books %}
            <li>{{ book.title }}</li>
          {% endfor %}
      </ul>
      <form action = '/authors/add_book' method = 'post'>
          {% csrf_token %}
          <input type = "hidden" name = 'author_id' value = {{ id }}>
          <select class="form-control" id="books" style = 'width: 300px' name = 'selected_book'>
              {% for book in all_books %}
                <option>{{ book.title }}</option>
              {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit" style = "margin-top: 20px">Add Book</button>
      </form>
    </div>
</body>
</html>
